body {
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  height: 480px;
  width: 300px;
  margin: 15px;

  font-family: Palatino Linotype, Arial;
}

.header img {
  height: 100%;
  width: 100%;
  margin: 0px 0px 10px 0px;
}

.header p {
  padding: 0px 12px;
  font-size: 22px;
  margin: 0;
}
.header .raiting {
  padding: 0px 12px;
  font-size: 11px;
}
.header .point {
  color: rgb(156, 148, 148);
}

main {
  padding: 0px 12px;
  font-size: 12px;
}
main .content p {
  color: gray;
}

main button {
  background-color: rgb(225, 218, 218);
  color: rgb(109, 105, 105);

  border: none;
  border-radius: 12px;

  height: 25px;
  width: 60px;

  font-size: 12px;
}

main .active-button {
  background-color: rgb(194, 160, 226);
  color: rgb(114, 55, 169);
}

footer {
  padding: 20px 12px;
}

footer .final button {
  text-transform: uppercase;
  font-size: 11px;
  font-family: Palatino Linotype;

  color: rgb(43, 46, 226);

  border: none;
  background-color: transparent;
}
